
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
*{
    
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #567189;
    --cor-secundaria: #CFB997;
    --cor-terciaria :#FAD6A5;
    --cor-hover: #7B8FA1;
    --cor-destaque:#e0b26f;
    --fonte-primeria : 'Krona One', sans-serif;
    --fonte-secundaria :  'Montserrat', sans-serif;
}

.cabecalho{
    padding: 2% 0% 0% 16.8%;
    
}

.cabecalho__menu{
    display: flex;
    gap : 80px;
    
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 1.5rem; 
    font-weight: 600;
    text-decoration: none;
}

body{
   /* height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.Titulo-Destaque{
    color: var(--cor-destaque);
}

.apresentacao__imagem{
    width: 50%;
    border: 3px solid var(--cor-secundaria);
    
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap :5%;
    
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primeria);
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);

}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap : 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primeria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
}

.apresentacao__links__navegacao{
    
    display: flex;
    justify-content: center;
    gap : 16px ;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid var(--cor-secundaria);
    border-radius: 8px;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #F6F6F6;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
   
}

.cabecalho__menu__link:hover{
    background-color:var();
    border: 2px solid var(--cor-terciaria);

}

.apresentacao__imagem:hover{
    border: 3px solid var(--cor-terciaria);
}


.rodape{
    display: flex;
    justify-content: center;
    font-family:var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    background-color: var(--cor-secundaria);
    padding: 1.5rem;
   
}

@media(max-width : 1200px){

    .cabecalho{
        padding: 10% 10% 0% 18.8%;
    }

    .cabecalho__menu{
        justify-content: center;
        width :100%;
    }

    .apresentacao{
        padding: 5%;
        flex-direction: column-reverse;
        
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__imagem{
      margin-bottom: 1rem;
    }

    .rodape{
        width :100%;
    }

}